NEXT_PUBLIC_SUPABASE_URL=https://keadkoqnvabhyxbrfjax.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_MAPBOX_TOKEN=
DEMO_PASSWORD=MetricLabDemo2026
NEXT_PUBLIC_CONTRATO_ID=bc33de34-4c89-521c-9f56-c2918db3522a
